<ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</ng-template>

<ng-template #nodata>
    <div class="py-5 text-center">No flows</div>
</ng-template>

<div class="page-layout simple p-24">
    <div class="my-container">
        <!-- HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">Strategies</div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div *ngIf="flows; else loading">
                <div *ngIf="flows.length; else nodata">
                    <ng-container *ngFor="let flow of flows">
                        <flows-flow [flow]="flow" (action)="onFlowAction(flow, $event)"></flows-flow>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
