:host {
    background: white;
    .header {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 45px;
    }
}
