<div class="mt-12 flow-card">
    <a href="#" [routerLink]="['/editor', flow._id]" style="height: 100px; flex: 1; display: flex; align-items: center; cursor: pointer">
        <div class="flow-title">{{ flow.title }}</div>
        <div class="flow-status"><main-flow-status [status]="flow.status"></main-flow-status></div>
    </a>

    <div style="margin-left: 50px; display: flex; align-items: center">
        <mat-slide-toggle
            [checked]="!flowService.isEditable(flow)"
            (change)="flowsService.updateFlow(flow._id, { status: $event.checked ? 'active' : 'stopped' })"
        ></mat-slide-toggle>

        <div matTooltip="Details" matTooltipClass="mytooltip" class="info-button" (click)="action.emit(FlowAction.INFO)">
            <mat-icon>info</mat-icon>
        </div>

        <button mat-icon-button class="ml-12" [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <div style="width: 250px">
                <ng-container *ngIf="flowService.isEditable(flow); else elseTemplate">
                    <button mat-menu-item (click)="action.emit(FlowAction.EDIT)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </ng-container>
                <ng-template #elseTemplate>
                    <button mat-menu-item (click)="action.emit(FlowAction.EDIT)">
                        <mat-icon>remove_red_eye</mat-icon>
                        <span>View</span>
                    </button>
                </ng-template>

                <button mat-menu-item (click)="action.emit(FlowAction.RENAME)">
                    <mat-icon>title</mat-icon>
                    <span>Rename</span>
                </button>
                <button mat-menu-item (click)="action.emit(FlowAction.CLONE)">
                    <mat-icon>file_copy</mat-icon>
                    <span>Clone</span>
                </button>
                <button mat-menu-item (click)="action.emit(FlowAction.DELETE)">
                    <mat-icon>delete</mat-icon>
                    <span #span>Trash</span>
                </button>
            </div>
        </mat-menu>
    </div>
</div>
