:host {
    .flow-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 900;
        width: 200px;
    }

    .flow-status {
        margin-left: 50px;
    }

    .mat-slide-toggle {
        margin-top: 4px;
        &::ng-deep.mat-slide-toggle-bar {
            height: 28px;
            width: 50px;
            border-radius: 25px;
        }

        &::ng-deep.mat-slide-toggle-thumb-container {
            position: absolute;
            top: 4px;
            left: 2px;
        }

        &.mat-checked {
            ::ng-deep.mat-slide-toggle-bar {
                background-color: rgb(28, 214, 169);
            }
            ::ng-deep.mat-slide-toggle-bar::after {
                content: 'ON';
                font-size: 75%;
                font-weight: 700;
                color: white;
                position: absolute;
                left: 8px;
                top: 2px;
            }

            ::ng-deep.mat-slide-toggle-thumb-container {
                transform: translate3d(26px, 0, 0);
                .mat-slide-toggle-thumb {
                    background-color: white;
                }
            }
        }
        &:not(.mat-checked) {
            ::ng-deep.mat-slide-toggle-bar::after {
                content: 'OFF';
                font-size: 75%;
                font-weight: 700;
                color: white;
                position: absolute;
                right: 6px;
                top: 2px;
            }
        }
    }

    .info-button {
        margin-left: 20px;
        padding: 5px 10px;
        padding-top: 10px;
        width: fit-content;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: black;
            color: white;
        }
    }

    a {
        color: inherit;
        text-decoration: none !important;
    }

    .flow-card {
        display: flex;
        padding: 0 20px;
        align-items: stretch;
        border: 1px solid lightgray;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        border-radius: 10px;
        transition-property: box-shadow, border-color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
        }
    }
}
