<!-- TODO loader -->
<ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</ng-template>

<div class="page-layout simple p-24">
    <div class="my-container">
        <!-- HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">My Apps</div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24" *ngIf="account; else loading">
            <mat-card [style]="{ width: 'fit-content' }" class="p-24" *ngFor="let app of account.apps">
                <mat-card-title style="display: flex; align-items: center">
                    <img src="assets/images/alpaca.jpeg" class="app-img" />
                    <span>Alpaca API</span>
                    <div style="flex: 1"></div>
                    <button mat-stroked-button (click)="save()" color="accent">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                </mat-card-title>
                <mat-card-content>
                    <div style="display: flex; justify-content: center; margin-top: 50px">
                        <mat-form-field appearance="outline">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="app.type">
                                <mat-option *ngFor="let option of typeOptions" [value]="option.value">
                                    {{ option.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" [style]="{ width: '400px' }">
                            <mat-label>BASE_URL</mat-label>
                            <input matInput [(ngModel)]="app.baseUrl" />
                            <mat-error> Base url is required </mat-error>
                        </mat-form-field> -->
                    </div>
                    <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" [style]="{ width: '400px' }">
                            <mat-label>KEY_ID</mat-label>
                            <input
                                matInput
                                [(ngModel)]="app.key"
                                placeholder="Please enter your KEY_ID"
                                [type]="hideKeyId ? 'password' : 'text'"
                                required
                            />
                            <mat-icon matSuffix (click)="hideKeyId = !hideKeyId" class="clickable">{{
                                hideKeyId ? 'visibility' : 'visibility_off'
                            }}</mat-icon>
                            <mat-error> KEY_ID is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" [style]="{ width: '400px' }">
                            <mat-label>SECRET_KEY</mat-label>
                            <input
                                matInput
                                [(ngModel)]="app.secret"
                                placeholder="Please enter your SECRET_KEY"
                                [type]="hideSecretKey ? 'password' : 'text'"
                                required
                            />
                            <mat-icon matSuffix (click)="hideSecretKey = !hideSecretKey" class="clickable">{{
                                hideSecretKey ? 'visibility' : 'visibility_off'
                            }}</mat-icon>
                            <mat-error> SECRET_KEY is required </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
