<!-- TODO loader -->
<ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
</ng-template>

<div class="page-layout simple p-24">
    <div class="my-container">
        <!-- HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">My Apps</div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24" *ngIf="account; else loading">
            <mat-card [style]="{ width: 'fit-content' }" class="p-24" *ngFor="let app of account.apps; let appId = index">
                <mat-card-title style="display: flex; align-items: center">
                    <img src="assets/images/alpaca.jpeg" class="app-img" />
                    <span>Alpaca API</span>
                    <div style="flex: 1"></div>
                    <ng-container *ngIf="app.editable; else elseTemplate">
                        <button mat-stroked-button (click)="save(appId)" color="accent">
                            <mat-icon>save</mat-icon>
                            Save
                        </button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button mat-stroked-button (click)="onClickReset(appId)" color="accent">
                            <mat-icon>edit</mat-icon>
                            Reset
                        </button>
                    </ng-template>
                </mat-card-title>
                <mat-card-content>
                    <div style="display: flex; justify-content: center; margin-top: 50px">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Live or Paper</mat-label>
                            <mat-select [(ngModel)]="app.type" [disabled]="!app.editable">
                                <mat-option *ngFor="let option of typeOptions" [value]="option.value">
                                    {{ option.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" [style]="{ width: '400px' }">
                            <mat-label>KEY_ID</mat-label>
                            <input matInput [(ngModel)]="app.key" placeholder="Please enter your KEY_ID" required [disabled]="!app.editable" />
                            <mat-error> KEY_ID is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" [style]="{ width: '400px' }">
                            <mat-label>SECRET_KEY</mat-label>
                            <input matInput [(ngModel)]="app.secret" placeholder="Please enter your SECRET_KEY" required [disabled]="!app.editable" />
                            <mat-error> SECRET_KEY is required </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
