<div class="diagram" (mousedown)="$event.stopPropagation()">
    <mat-icon style="color: orange">flash_on</mat-icon>

    <!-- render each steps into diagram -->
    <!-- <ng-container *ngFor="let group of groups; let order = index">
        <diagram-plus [isLast]="false" [order]="order"></diagram-plus>

        <diagram-step-group [steps]="group.steps"></diagram-step-group>
    </ng-container> -->

    <ng-container *ngFor="let step of flow?.steps; let order = index">
        <diagram-plus [isLast]="false" [order]="order - 0.5"></diagram-plus>

        <diagram-step [step]="step"></diagram-step>
    </ng-container>

    <diagram-plus [isLast]="true" [order]="flow?.steps.length"></diagram-plus>
</div>
