<div class="diagram" (mousedown)="$event.stopPropagation()">
    <mat-icon style="color: orange">flash_on</mat-icon>

    <!-- render each steps into diagram -->
    <ng-container *ngFor="let step of flow.steps; let pos = index">
        <diagram-plus [position]="pos"></diagram-plus>

        <ng-template [ngIf]="!step.children || step.children.length == 0" [ngIfElse]="group">
            <diagram-step [step]="step"></diagram-step>
        </ng-template>

        <ng-template #group>
            <diagram-step-group [step]="step"></diagram-step-group>
        </ng-template>
    </ng-container>

    <diagram-plus [position]="-1"></diagram-plus>
</div>
