<div class="diagram" (mousedown)="$event.stopPropagation()">
    <mat-icon style="color: orange">flash_on</mat-icon>

    <!-- render each steps into diagram -->
    <ng-container *ngFor="let step of flow.steps; let id = index">
        <diagram-plus
            [isLast]="false"
            [stepId]="id"
            [flow]="flow"
        ></diagram-plus>

        <diagram-step
            [flow]="flow"
            [stepId]="id"
            [step]="step"
            [activeStepId]="activeStepId"
            (stepClicked)="handleClickStep(id)"
            (childDropped)="handleDropChild(id, $event)"
        >
        </diagram-step>
    </ng-container>

    <diagram-plus [isLast]="true" [stepId]="-1" [flow]="flow"></diagram-plus>
</div>
