:host {
    .folded:not(.unfolded) & {
        .nav-link {
            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }

            .plusicon {
                display: block;
            }
        }
    }

    .plusicon {
        display: none;
    }

    .nav-link {
        margin: 20px 10px;
        padding: 0px 10px;
        border-radius: 8px;
        font-weight: bolder;
        color: rgb(102, 102, 102);
        transition: all 300ms ease-in-out 0s;

        .nav-link-icon {
            font-size: 24px;
            margin-right: 24px;
            font-weight: bolder;
            color: rgb(102, 102, 102);
            transition: all 300ms ease-in-out 0s;
        }

        &:hover {
            color: black;
            .nav-link-icon {
                color: black;
            }
        }
    }

    .nav-link.active {
        color: #5795ff;
        background-color: #f3f8ff;
        transition: all 300ms ease-in-out 0s;
        .nav-link-icon {
            color: #5795ff;
            transition: all 300ms ease-in-out 0s;
        }
    }

    .nav-link.makeflow {
        background-color: #1e044f;
        text-align: center;
        color: white;
        transition: all 300ms ease-in-out 0s;
        .nav-link-icon {
            color: white;
            transition: all 300ms ease-in-out 0s;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
