<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
</mat-dialog-actions>

<div mat-dialog-title>
    <h1>{{ flow.title }}</h1>
</div>

<mat-dialog-content class="mat-typography content">
    <ng-container *ngIf="flow?.log?.length > 0; else elseTemplate">
        <ul>
            <li *ngFor="let log of flow.log">{{ log }}</li>
        </ul>
    </ng-container>
    <ng-template #elseTemplate>
        <span>No logs</span>
    </ng-template>
</mat-dialog-content>
