#middle {
    font-weight: bolder;
    #percent {
        display: block;
    }
    #reset {
        display: none;
    }

    &:hover {
        #percent {
            display: none;
        }
        #reset {
            display: block;
        }
    }
}
