:host {
    background: white;
    .header {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 45px;
    }

    .app-img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    mat-form-field {
        width: 100%;
    }

    .clickable:hover {
        cursor: pointer;
    }

    .equity {
        display: grid;
        grid-template-columns: 300px 100px 100px;
    }
    .header-sm {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 45px;
    }

    .flex-base {
        display: flex;
        align-items: baseline;
    }

    .buying-currency {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 45px;
    }

    .buying-text {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 45px;
    }

    .card {
        border-radius: 10px;
        border: 1px solid lightgray;
        .card-header {
            padding: 20px;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: baseline;
            font-weight: 900;

            .card-title {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing: -1px;
                font-weight: 900;
                font-size: 26px;
            }
            a {
                color: rgb(184, 149, 35) !important;
            }
            a:hover {
                text-decoration: none !important;
                color: rgb(95, 73, 2) !important;
            }
        }

        .card-table {
            width: 100%;
            border-collapse: collapse;
            tbody {
                tr {
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(224, 234, 240);
                    }
                }
            }
            th {
                padding: 10px;
                color: gray;
                font-weight: 500;
                font-size: smaller;
            }
            td {
                padding: 10px;
                font-weight: 700;
                border: none !important;
            }

            .stock-pink {
                border-radius: 5px;
                background-color: rgb(221, 169, 186);
                padding: 10px;
                display: flex;
                .stock-percent {
                    flex: 1;
                    text-align: right;
                }
            }
            strong {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
            }
        }
    }
}
