:host {
    background: white;
    #arrow_right {
        user-select: none;
        color: rgb(150, 158, 162);
        padding: 4px 10px;
        font-size: 48px;
    }

    .header {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 45px;
    }
}
