<ng-container *ngIf="position > -1; else elseTemplate">
    <div id="line_container">
        <div
            id="droptarget"
            (dragover)="$event.preventDefault()"
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
            [matMenuTriggerFor]="menu"
            (onMenuOpen)="onDragEnter($event)"
            (onMenuClose)="onDragLeave($event)"
        ></div>
        <div id="line"></div>

        <mat-icon id="active_icon" *ngIf="dragcnt > 0">add</mat-icon>

        <mat-icon class="icon">add</mat-icon>

        <mat-menu #menu="matMenu">
            <editor-steps-panel [isMenu]="true" (addStep)="addStep($event)"></editor-steps-panel>
        </mat-menu>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="last-container">
        <div class="last-line"></div>
        <div
            class="last-rect"
            [ngClass]="{ dragover: dragcnt > 0 }"
            id="droptarget"
            (dragover)="$event.preventDefault()"
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
            [matMenuTriggerFor]="menu"
            (onMenuOpen)="onDragEnter($event)"
            (onMenuClose)="onDragLeave($event)"
        >
            <mat-icon class="icon">add</mat-icon>
            <strong class="label">Add Step</strong>
        </div>
        <mat-menu #menu="matMenu">
            <editor-steps-panel [isMenu]="true" (addStep)="addStep($event)"></editor-steps-panel>
        </mat-menu>
    </div>
</ng-template>
