:host {
    width: 100%;
    background: white;
    font-family: "Open Sans", sans-serif;

    #arrow_right {
        user-select: none;
        color: rgb(150, 158, 162);
        padding: 4px 10px;
        font-size: 48px;
    }

    .header {
        font-size: 64px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 70px;

        @media (max-width: 700px) {
            font-size: 40px;
            line-height: 45px;
        }

        &-prising {
            margin-top: 100px;
            padding: 0 130px;

            @media (max-width: 1239px) {
                padding: 0 70px;
            }

            @media (max-width: 519px) {
                margin-top: 50px;
                padding: 0 25px;
            }
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;

        @media (max-width: 700px) {
            font-size: 19px;
        }
    }

    .cards {
        width: 100%;
        padding: 50px 120px 50px 120px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: 1239px) {
            padding: 50px 60px;
        }

        @media (max-width: 700px) {
            padding: 10px 60px;
        }

        @media (max-width: 519px) {
            padding: 10px 15px;
        }

        @media (max-width: 429px) {
            justify-content: center;
        }

        &-item {
            flex: 1 1 20%;
            max-width: 20%;
            min-width: 200px;
            padding: 10px;

            @media (max-width: 429px) {
                max-width: 100%;
            }
        }
    }

    .current-plan {
        box-shadow: rgba(0, 0, 0, 0.1) 0 20px 30px 0 !important;
        background-color: rgb(255, 255, 255) !important;
    }

    .popular-button {
        margin-top: 24px;
        text-align: center;
        font-size: larger;
        font-weight: 700;
        background-color: rgb(19, 107, 245);
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
    }

    .popular-button-selected {
        margin-top: 10px;
        text-align: center;
        font-size: larger;
        font-weight: 700;
        background-color: rgb(243, 243, 243);
        padding: 10px 20px;
        border-radius: 10px;
        color: #ababab;
        width: 100%;
    }

    .popular-card {
        border-radius: 10px;
        transition-property: box-shadow, border-color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
        -webkit-box-align: stretch;
        align-items: stretch;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        border: 1px solid rgb(230, 230, 230);
        background-color: rgb(243, 243, 243);
        padding: 18px 18px 50px 18px;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0 20px 30px 0;
            background-color: rgb(255, 255, 255);

            .popular-button {
                background-color: rgb(38, 85, 189);
            }
        }

        .price-row {
            display: flex;
            margin: 8px;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;

            .dollar {
                margin: 0px 5px 0px 0px;
                color: rgb(204, 204, 204);
                font-size: 32px;
                font-weight: 700;
                letter-spacing: -1px;
                line-height: 35px;
            }
            .integer {
                color: rgb(102, 102, 102);
                font-size: 40px;
                font-weight: 800;
                letter-spacing: -1px;
                line-height: 45px;
            }
            .float {
                margin: 5px 0px 0px 2px;
                color: rgb(102, 102, 102);
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
            }
            .usd {
                margin: 5px 0px 0px 5px;
                color: rgb(204, 204, 204);
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -1px;
                line-height: 20px;
            }
        }

        .text {
            color: rgb(102, 102, 102);
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            height: 50px;
        }

        .hr {
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
            height: 3px;
            width: 40px;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: rgb(51, 51, 51);
            vertical-align: baseline;
            margin: 15px 0;
            text-transform: capitalize;
        }

        .subtitle {
            color: rgb(102, 102, 102);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 0 15px;
            min-height: 60px;
        }
    }

    .features {
        .title {
            margin: 20px 0 0 0;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            min-height: 30px;
        }

        .feature-row {
            color: #5f6c72;
            cursor: default;
            display: flex;
            padding-bottom: 8px;
            .icon {
                align-self: flex-start;
                margin-right: 10px;
                vertical-align: baseline;
            }
            .text {
                vertical-align: baseline;
            }
            .check-icon {
                color: rgb(19, 208, 171);
                margin-right: 5px;
            }
        }

        .hr {
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
            height: 3px;
            width: 40px;
            margin: 10px 20px 20px;
        }
    }

    .faq {
        margin: 50px 130px 100px 130px;
        border-top: 1px solid silver;

        @media (max-width: 1239px) {
            margin: 50px 60px;
        }

        @media (max-width: 700px) {
            margin: 10px 60px;
        }

        @media (max-width: 519px) {
            margin: 10px 15px;
        }

        &-title {
            font-size: 30px;
            font-weight: 800;
            text-align: center;
            line-height: 35px;
            padding: 20px 0 0 0;

            @media (max-width: 515px) {
                font-size: 22px;
            }
        }

        &-list {
            margin-top: 40px;
        }
    }
}
