<ng-template #loading>
    <!-- TODO: loader -->
    <div class="text-center py-5">Loading..</div>
</ng-template>

<div id="step-detail-panel" *ngIf="activeStepId > -1">
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-card style="border-radius: 6px" *ngIf="step else loading">
        <form [formGroup]="form">
            <div style="display: flex; align-items: center">
                <fa-icon size="2x" [icon]="step.type | stepType: 'icon'" [style.color]="step.type | stepType: 'color'"></fa-icon>
    
                <mat-form-field appearance="outline" style="margin-left: 10px; flex: 1">
                    <input matInput formControlName="ticker" />
                    <mat-icon matSuffix>edit</mat-icon>
                </mat-form-field>
            </div>
    
            <mat-card-subtitle>
                <strong>{{ step.type | stepType: 'title' }} : </strong>
                {{ step.type | stepType: 'description' }}
            </mat-card-subtitle>
    
            <mat-card-content>
                <ng-container *ngIf="form.get('amount')">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount (# of stocks)</mat-label>
                        <input autocomplete="off" matInput type="number" formControlName="amount" />
                        <mat-error> amount is required </mat-error>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="form.get('signalType')">
                    <mat-form-field appearance="outline">
                        <mat-label>Signal Type</mat-label>
                        <mat-select formControlName="signalType">
                            <mat-option *ngFor="let type of signalTypes" [value]="type">{{type | signalType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="form.get('signalValue') && form.get('signalType')?.value">
                    <mat-form-field appearance="outline">
                        <mat-label>{{form.get('signalType').value | signalType}}</mat-label>
                        <input autocomplete="off" matInput type="number" formControlName="signalValue" />
                        <mat-error> This field is required </mat-error>
                    </mat-form-field>
                </ng-container>
            </mat-card-content>
    
            <mat-card-footer style="display: flex; justify-content: flex-end;margin: 0;">
                <button mat-raised-button color="warn" (click)="delete()">Delete</button>
                <button mat-raised-button [disabled]="form.invalid" color="primary" style="margin-left: 1rem;" (click)="save()">Save</button>
            </mat-card-footer>
        </form>
    </mat-card>
</div>
