<ng-template #loading>
    <!-- TODO: loader -->
    <mat-spinner color="accent"></mat-spinner>
</ng-template>

<div id="step-detail-panel" *ngIf="activeStepId > -1">
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-card style="border-radius: 6px" *ngIf="step; else loading">
        <form [formGroup]="form">
            <div style="margin: 20px 10px; display: flex; align-items: center">
                <fa-icon size="2x" [icon]="step.type | stepType: 'icon'" [style.color]="step.type | stepType: 'color'"></fa-icon>
                <strong style="color: grey; margin-left: 20px">{{ step.type | stepType: "title" }}</strong>
            </div>

            <mat-card-subtitle>
                {{ step.type | stepType: "description" }}
            </mat-card-subtitle>

            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="ticker" />
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>

            <ng-container *ngIf="form.get('amount')">
                <mat-form-field appearance="outline">
                    <mat-label>Amount (# of stocks)</mat-label>
                    <input autocomplete="off" matInput type="number" formControlName="amount" />
                    <mat-error> amount is required </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="form.get('waitFor')">
                <mat-form-field appearance="outline">
                    <mat-label>Wait for (in seconds)</mat-label>
                    <input autocomplete="off" matInput type="number" formControlName="waitFor" />
                    <mat-error> Duration is required </mat-error>
                </mat-form-field>
            </ng-container>

            <mat-card-footer style="display: flex; justify-content: flex-end; margin: 0">
                <button mat-raised-button color="warn" (click)="delete()">Delete</button>
                <button mat-raised-button [disabled]="form.invalid" color="primary" style="margin-left: 1rem" (click)="save()">Save</button>
            </mat-card-footer>
        </form>
    </mat-card>
</div>
