<div class="page-layout simple p-24">
    <div class="my-container">
        <!-- HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">Billing and Usage</div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="card-gray">
                <div class="card-gray-body">
                    <div class="titles-with-icon">
                        <div class="pa-icon">PA</div>
                        <div class="titles">
                            <div class="title">Personal Account</div>
                            <div class="subtitle">Free Plan</div>
                        </div>
                    </div>

                    <div style="display: flex; margin: 0 20px">
                        <div class="titles-with-icon">
                            <circle-progress
                                [percent]="0"
                                [radius]="16"
                                [showUnits]="false"
                                [outerStrokeWidth]="6"
                                [innerStrokeWidth]="6"
                                [space]="-7"
                                [outerStrokeColor]="'#78C000'"
                                [innerStrokeColor]="'#C7E596'"
                                [animation]="true"
                                [showTitle]="false"
                                [showSubtitle]="false"
                                [animationDuration]="300"
                                [outerStrokeColor]="'#13D0AB'"
                                [innerStrokeColor]="'rgb(218, 223, 226)'"
                            ></circle-progress>
                            <div class="titles">
                                <div class="title">Tasks</div>
                                <div class="subtitle">0 / 100</div>
                            </div>
                        </div>
                        <div class="titles-with-icon">
                            <circle-progress
                                [percent]="20"
                                [radius]="16"
                                [showUnits]="false"
                                [outerStrokeWidth]="6"
                                [innerStrokeWidth]="6"
                                [space]="-7"
                                [outerStrokeColor]="'#78C000'"
                                [innerStrokeColor]="'#C7E596'"
                                [animation]="true"
                                [showTitle]="false"
                                [showSubtitle]="false"
                                [animationDuration]="300"
                                [outerStrokeColor]="'#13D0AB'"
                                [innerStrokeColor]="'rgb(218, 223, 226)'"
                            ></circle-progress>
                            <div class="titles">
                                <div class="title">Zaps</div>
                                <div class="subtitle">1 / 5</div>
                            </div>
                        </div>
                        <div class="titles-with-icon">
                            <div class="titles">
                                <div class="title">Usage Reset</div>
                                <div class="subtitle">Feb 02, 2021</div>
                            </div>
                        </div>
                    </div>
                    <div style="flex: 1"></div>
                    <div class="popular-button" [routerLink]="['/home/billing/plans']">Change Plan</div>
                </div>
                <div class="card-gray-footer">
                    <span class="mr-12">Have qestions about your plan?</span>
                    <a [routerLink]="['/home/billing/plans']" style="color: rgb(19, 107, 245)">Learn about plans and pricing.</a>
                </div>
            </div>

            <div class="header-gray mt-48">Payment Information</div>
            <div class="card-gray">
                <div class="card-gray-body">
                    <div class="no-text">No Payment Info</div>
                    <div style="flex: 1"></div>
                    <div class="popular-button" (click)="editPaymentMethod()">Edit Payment Method</div>

                    <div class="mt-24" style="width: 100%" *ngIf="showCard">
                        <main-my-stripe></main-my-stripe>
                    </div>
                </div>
            </div>

            <div class="header-gray mt-48">Invoice Information</div>
            <div class="card-gray">
                <div class="card-gray-body">
                    <div class="no-text">No invoice company name or email</div>
                    <div style="flex: 1"></div>
                    <div class="popular-button">Update Info</div>
                </div>
            </div>

            <div class="header-gray mt-48">Invoices</div>
            <div class="card-gray">
                <div class="card-gray-body">
                    <div class="no-text">No Invoices</div>
                </div>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
