<div
    *ngIf="step"
    class="step-container"
    [ngClass]="{
        'step-buy': step.type === 'buy',
        'step-sell': step.type === 'sell',
        'step-signal': step.type === 'signal',
        active: !flowService.activeStep || flowService.activeStep?._id == step._id,
        expand: dragCount > 0
    }"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (dragover)="$event.preventDefault()"
    (drop)="onDrop($event)"
    (click)="onClickStep($event)"
>
    <mat-card class="icon-circle">
        <fa-icon [icon]="step.type | stepType: 'icon'"></fa-icon>
    </mat-card>

    <strong style="color: blue; word-break: break-all">
        {{ step.ticker }}
    </strong>
    <span style="font-size: small">{{ step.type | stepType: 'title' }}</span>
</div>
