.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: relative;

    transition-property: width, height;
    transition-timing-function: ease-in-out;
    transition-duration: 600ms;

    &.active {
        opacity: 1;
    }

    &.expand {
        width: 160px;
        height: 160px;
        opacity: 1;
        border: 3px solid;
    }

    span,
    strong {
        user-select: none;
        pointer-events: none;
    }

    .icon-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: larger;
        width: 50px;
        height: 50px;
        user-select: none;
        pointer-events: none;
    }

    &.step-buy {
        border-color: orange;
        .icon-circle {
            color: white;
            background-color: orange;
        }
    }
    &.step-sell {
        border-color: green;
        .icon-circle {
            color: white;
            background-color: green;
        }
    }
    &.step-signal {
        border-color: blue;
        .icon-circle {
            color: white;
            background-color: blue;
        }
    }
}
