@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

// JastiDev
.vertical-container {
    height: calc(100vh - 65px) !important;
    display: flex;
    flex-direction: column;
    .nav-items {
        flex: 1;
        overflow-y: auto;
    }

    .my-pricing-side {
        padding: 20px;
        border-top: 1px solid lightgray;
        box-sizing: content-box;
    }
}
