:host {
    background: white;
    #arrow_right {
        user-select: none;
        color: rgb(150, 158, 162);
        padding: 4px 10px;
        font-size: 48px;
    }

    .header {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 45px;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-item{
            flex: 1 1 25%;
            max-width: 25%;
            padding: 10px;
        }
    }

    .popular-card {
        border-radius: 10px;
        transition-property: box-shadow, border-color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
        -webkit-box-align: stretch;
        align-items: stretch;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        border: 1px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 30px 20px;
        cursor: pointer;

        .popular-icon-wraper {
            margin: auto;
            width: 70px;
            height: 70px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            border-radius: 100%;
            background-color: white;
            .popular-icon-outer {
                position: absolute;
                inset: 0px;
                border-radius: 100%;
                transition: all 300ms ease-in-out 0s;
                background-color: currentcolor;
                opacity: 0.15;
            }

            .popular-icon-inner {
                opacity: 0.4;
                transform: scale(0.66666);
                position: absolute;
                inset: 0px;
                border-radius: 100%;
                transition: all 300ms ease-in-out 0s;
                background-color: currentcolor;
            }
        }

        .popular-title {
            margin-top: 20px;
            font-size: large;
            font-weight: 900;
            color: black;
        }

        .popular-description {
            color: gray;
        }

        .popular-button {
            margin: 50px auto;
            font-size: larger;
            font-weight: 900;
            background-color: rgb(19, 107, 245);
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            transition-timing-function: ease-in-out;
            transition-duration: 300ms;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
            .popular-button {
                background-color: rgb(38, 85, 189);
            }
        }
    }
}
